body {
    background-color: darkred;
    padding: 2%;
    margin: 2%;
    font-family: Georgia, serif;
}

div {
    background-color: lightpink;
    color: black;
    padding: 1%;
    margin: 1%;
    border-top: solid 1px black;
}

form {
    background-color: whitesmoke;
    padding: 5%;
    margin: 5%;
    background-color: lightcoral;
    border: solid 1px black;
}

table,
th,
td {
    border: 1px solid;
    padding: 10px;
    font-size: 25px;
}

tr:hover {
    background-color: lightcoral;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightpink;
    padding: 1%;
    border-top: solid 1px black;
}

h1 {
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.topnav {
    background-color: darkred;
    overflow: hidden;
}

.topnav a {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-size: 15px;
}

.topnav-right {
  float: right;
}